<div class="post-list-container">
<div class="post-inner">
<% posts.forEach(function(post) { %>
<div class="post gt-bg-theme-color-second">
<div class="post-left">
<a href="<%= post.link %>">
<div><span class="post-title gt-c-content-color-first"><%= post.title %></span></div>
<div class="gt-post-content post-abstract gt-c-content-color-second"><p><%- post.searchedPreview %></p></div>
</a>
<div class="post-info">
<time class="post-time gt-c-content-color-first">·&nbsp;<%= post.dateFormat %>&nbsp;·</time>
<% post.tags.forEach(function(tag) { %><a href="<%= tag.link %>" class="post-tag">#&nbsp;<%= tag.name %></a><% }); %>
</div>
</div>
<% if (themeConfig.showFeatureImage && post.feature) { %><a href="<%= post.link %>" class="post-feature-image" style="background-image: url(<%= post.feature %>)"></a><% } %>
</div>
<% }); %>
</div>
</div>